doctype html
html
  head
    title HIS - Admisión
    link(rel='stylesheet', href='/css/style.css')
  body
    nav
      ul
        li: a(href='/pacientes') Pacientes
        li: a(href='/admisiones') Admisiones
    block content