extends ../layout

block content
  .max-w-5xl.mx-auto.mt-10.bg-white.p-6.rounded-2xl.shadow-lg
    h1.text-3xl.font-bold.text-blue-900.mb-6 Pacientes

    .flex.justify-end.mb-4
      a(href="/pacientes/nuevo", class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md") Nuevo Paciente

    table.table-auto.w-full.border.border-gray-200.rounded-lg.shadow
      thead.bg-blue-100
        tr
          th.text-left.p-3.text-sm.text-gray-700 Nombre
          th.text-left.p-3.text-sm.text-gray-700 DNI
          th.text-left.p-3.text-sm.text-gray-700 Fecha de Nacimiento
          th.text-left.p-3.text-sm.text-gray-700 Acciones
      tbody
                each paciente in pacientes
                  tr(class="border-b border-gray-100 hover:bg-blue-50")
                    td.p-3= paciente.nombre + ' ' + paciente.apellido
                    td.p-3= paciente.dni
                    td.p-3= paciente.fecha_nacimiento
                    td.p-3
                      a(href=`/pacientes/${paciente.id}/editar`, class="text-blue-600 hover:underline text-sm") Editar


